<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="config.properties"/>
	</bean>

	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="testOnBorrow" value="true"/>
	</bean>

	<bean id="redisStandaloneConfiguration"
		  class="org.springframework.data.redis.connection.RedisStandaloneConfiguration">
		<constructor-arg name="hostName" value="${redis.standalone.master.host}"/>
		<constructor-arg name="port" value="${redis.standalone.master.part}"/>
		<property name="database" value="${redis.standalone.master.database}"/>
		<property name="password">
			<bean class="org.springframework.data.redis.connection.RedisPassword" factory-method="of">
				<constructor-arg name="passwordAsString" value="${redis.standalone.master.password}"/>
			</bean>
		</property>
	</bean>

	<!--RedisConnectionFactory有两种SpringFramework实现类,JedisConnectionFactory/LettuceConnectionFactory-->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<constructor-arg name="standaloneConfig" ref="redisStandaloneConfiguration"/>
	</bean>

	<!--RedisTemplate继承于RedisAccessor,需要配置一个RedisConnectionFactory-->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory"/>
		<property name="defaultSerializer">
			<bean class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
		</property>
	</bean>

	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory"/>
	</bean>

</beans>