<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans.xsd ">

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations" value="config.properties"/>
	</bean>

	<!--配置了但是也没有用上-->
	<bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="testOnBorrow" value="true"/>
	</bean>

	<bean id="redisStandaloneConfiguration"
		  class="org.springframework.data.redis.connection.RedisStandaloneConfiguration">
		<constructor-arg name="hostName" value="${spring.redis.host}"/>
		<constructor-arg name="port" value="${spring.redis.port}"/>
		<property name="database" value="${spring.redis.database}"/>
		<property name="password">
			<!--这里的of本不应该报红的-->
			<bean class="org.springframework.data.redis.connection.RedisPassword" factory-method="of">
				<constructor-arg name="passwordAsString" value="${spring.redis.password}"/>
			</bean>
		</property>
	</bean>

	<!--貌似以前的配置都有传JedisPoolConfig的,但是这个传不进去-->
	<!--RedisConnectionFactory有两种SpringFramework实现类,JedisConnectionFactory/LettuceConnectionFactory-->
	<bean id="jedisConnectionFactory" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<constructor-arg name="standaloneConfig" ref="redisStandaloneConfiguration"/>
	</bean>

	<bean id="keySerializer" class="org.springframework.data.redis.serializer.StringRedisSerializer"/>
	<bean id="valueSerializer" class="org.springframework.data.redis.serializer.GenericJackson2JsonRedisSerializer"/>

	<!--RedisTemplate继承于RedisAccessor,需要配置一个RedisConnectionFactory-->
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory"/>
		<property name="keySerializer" ref="keySerializer"/>
		<property name="valueSerializer" ref="valueSerializer"/>
		<property name="hashKeySerializer" ref="keySerializer"/>
		<property name="hashValueSerializer" ref="valueSerializer"/>
	</bean>

	<bean id="stringRedisTemplate" class="org.springframework.data.redis.core.StringRedisTemplate">
		<property name="connectionFactory" ref="jedisConnectionFactory"/>
	</bean>

</beans>